<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.enterprise.user.dao.SysDeptMapper">
    <sql id="tableName">
        sys_dept
    </sql>

    <sql id="baseColumn">
        dept_id,domain,dept_parent_id,dept_name,order_num,status,create_user,create_time,update_user,update_time,deleted
    </sql>

</mapper>