<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.enterprise.user.dao.SysUserRoleMapper">
    <sql id="tableName">
        sys_user_role
    </sql>

    <sql id="baseColumn">
        id,user_id,role_id,status,create_user,create_time,update_user,update_time,deleted
    </sql>

</mapper>